
// colors
$page-text-color: black;

$purple-light: #DCD3FB;
$purple-dark: #B07FCD;

$grey-light: #D7D3E0;
$grey-mid: #AAAAB4;
$grey-mid-dark: #72717A;
$grey-dark: #544E5C;

@mixin overlay($color, $opacity) {
  background-color: $color;
  opacity: $opacity;
  position: fixed;
  width: 100%;
  height: 100%;
}

@mixin pic-bg($pic, $grad-dir: 'bottom', $grad-op: 0) {
  background-image: linear-gradient(
    to #{$grad-dir},
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, $grad-op)
  ), url($pic);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin pic-full-bg($pic, $grad-dir: 'bottom', $grad-op: 0) {
  @include overlay(black, 1);
  @include pic-bg($pic, $grad-dir, $grad-op);
  overflow-y: auto;
}

// just needs the utilizing class to define the picture for the background
@mixin setup-pic-full-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: auto;
}
